.searchFor {
  margin-top: 38px;
  font: 1.4em Helvetica;
  color: #333333;
}

.searchBar {
  font: 1.2em Helvetica;
  color: #333333;
  margin: 6px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 0px;
}
.searchBar:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

.button {
  font: 1.2em Helvetica;
  color: #333333;
}

.button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: 1.2em Helvetica;
  padding: 4px 14px;
  height: auto;
  margin: 0;
  text-align: center;
  transition: color 100ms;
}

.button:hover,
.button:focus {
  background-color: #f082ac;
}

/* POPUP */
.popup {
  /* centers popup absolutely */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

  background-color: #c8d1d8;
  max-height: 60vh;
  overflow-y: scroll;
  min-width: 520px;
}

.songCard {
  margin: 40px;
  min-width: 640px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
}
.songCard:hover {
  border: 1px solid #2098D1;
  background-color: #2098D1;
    color: white;
}

.songData {
  display: flex;
  margin: 30px 42px;
}

.albumImg {
  width: 300px;
  height: 300px;
}

.textData {
  font: 1.4em Helvetica;
  height: 100%;
  margin: 0px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artist {
  margin: 12px 0px;
  font: 1.6em Helvetica;
}

.title {
  margin: 12px 0px;

  font: 1.3em Helvetica;
}

.tempo {
  margin: 12px 0px;
  font: 1.2em Helvetica;
}

.key {
  margin: 12px 0px;
  font: 0.8em Helvetica;
}

.album {
  margin: 12px 0px;
  font: 0.8em Helvetica;
}
